@font-face {
  font-family: 'Tempus Sans ITC';
  src: url('./res/fonts/tempsitc.ttf');
}

* {
  box-sizing: border-box;
  /* touch-action: none; */
}

:root {
  --background-color: #1b1a1a;
  --primary-color: oklch(45.12% 0.267 268.81);
  --secondary-color: oklch(94.45% 0.03 268.81);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;

  background: transparent;

  cursor: pointer;
  width: 100%;
}

input[type='range']::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    oklch(45.12% 0.267 0),
                                    oklch(45.12% 0.267 90),
                                    oklch(45.12% 0.267 180),
                                    oklch(45.12% 0.267 270),
                                    oklch(45.12% 0.267 360)
  );

  height: 0.25rem;
  border-radius: 100px;
  margin: 0 0.25rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  margin-top: -0.25rem;

  background-color: var(--primary-color);
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1000px;
  border: 2px solid white;
}

div.theme {
  width: 6em;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.3;

  background-color: var(--background-color);
  color: var(--primary-color); /* color: #555; */

  /* border-top: 5rem solid var(--primary-color); */
  /* touch-action: none; */
}

header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

nav {
  float: left;
  width: auto;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 10px;
}

section {
  max-width: 800px;
  margin: auto;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 5px;
  font-size: 11.5px;
  font-family: "Tempus Sans ITC", sans-serif;
  text-align: center;
}

@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}
